* { 
    margin: 0px; 
    padding: 0px; 
}

header { 
    background-color: green;  
    grid-area: header;
}

article { 
    background-color: yellow; 
    grid-area: article;
}

aside { 
    background-color: orange; 
    grid-area: aside;
}

nav { 
    padding-left: 20px;
    background-color: blue;   
    grid-area: nav;
}

footer { 
    background-color: red;    
    grid-area: footer;
}

/* SMALL ONE */
@media (max-width: 479px) {
    body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px auto auto auto 50px;
        grid-template-areas:
            "header"
            "article"
            "aside"
            "nav"
            "footer"
    }
}

/* MEDIUM ONE */
@media (min-width: 480px) and (max-width: 799px) {
    body {
        display: grid;
        grid-template-columns: 120px 1fr 1fr;
        grid-template-rows: 80px 1fr 1fr 1fr 50px;
        grid-template-areas:
            "header header header"
            "nav article article"
            "aside article article"
            "aside article article"
            "footer footer footer"
    }
}

/* BIG ONE */
@media (min-width: 800px) {
    body {
        width: 780px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 120px 1fr 120px;
        grid-template-rows: 80px auto auto auto 50px;
        grid-template-areas:
            "header header header"
            "nav article aside"
            "nav article aside"
            "nav article aside"
            "footer footer footer"
    }
}
